<!--Header-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car parking application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <link rel="stylesheet" href="/css/pdf.css">

</head>
<body>
    <!-- Header-->
    <div class="header">
        <div class="motto">
            Heaven's Light is our guide 
        </div>
        
        <div class="uniname">
            Rajshahi University Of Engineering and Technology
        </div>
        <p>Course Registration/Course Adjustment Form</p>

        <div class="dept">
            Computer Science And Engineerig (CSE) Department

        </div>
    </div>

    <div class="credentials">
        <div class="roll-registration">Roll No:_________Registration No. with Session:                 </div>
        <div class="name">Name: Md. Shakib Shariar</div>
        <div class="semester-credit">Academic session with Semester:         Previously Earned Credit:         </div>

    </div>


    <div class="backlogbox">
        <div class="title">Course No. of Backlog courses</div>
        <div class="emptybox">
        </div>
    </div>

    <div class="coursetable">

    </div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
