<!DOCTYPE html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
  

  
    <div class="namepicturecard">
        <div class="picture">
            <img src="/assets/img/man.png"/>
        </div>
        <div class="personname">
            <p>Shakib Shariar</p>
            <p>Regular</p>
            <p>Location:Rajshahi</p>
            
        </div>
    </div>



    <div class="card-container">

    <div class="contacts">
        <div class="heading">
            Identification
        </div>
        <div class="email">
            <p>Email:ultron@gmail.com</p>
        </div>
        <div class="nid">
            <p>NID: nid number</p>
        </div>
        <div class="Driving-license">
            <p>Driving License:</p>
        </div>
    </div>

    <div class="cardetails">
        <div class="heading">
            <p>Car details</p>
       </div>
       <div class="model">
        <p>Model: Toyota Primio</p>
        <p>Engine  Number: example</p>
        <p>License Number: </p>
       </div>
        
    </div>

</div>

<footer>

    <div class="footer-container">

        <div class="footer">
            <div class="footer-heading footer-1">

            <h2>Company Details</h2>
            <a href="#">CEO</a> 
            <a href="#">Md. Zahirul Islam</a> 
            <a href="#">CTO</a> 
            <a href="#">MD.Shakib Shariar</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>Customer Care Address</h2>
                <p>Rajshahi University Of Engineering and Technology</p>

            </div>
            <div class="footer-heading footer-3">
                <h2>Office Hours</h2>
                <p>8:00am-5:00pm</p>

            </div>
            <div class="footer-email-form">

                <h2> Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address"
                id="footer-email">
                <input type="submit" value="Sign up"
                id="footer-email-btn">


            </div>

        </div>
    </div>

</footer>

</body>