<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ruet Course Registration</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
<link rel="stylesheet" href="/css/userlands.css">

</head>
<body>


<div class="page_body">


	<div class="intro">
		<div class="logo_company"></div>
		<div class="heading">
			<P>Online Course Registration</P>
		</div>
	
	</div>


   <!-- partial:index.partial.html -->
   <div class="container">
	<div class="screen">
		<div class="screen__content">


			<form class="login" action="/api/login" method="post">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name / Email" id="username" name="name">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" id="password" name="password">
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>


			<div class="social-login">
				<a href="/student-reg" class="nav-brand text-dark">Create New Account</a>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	 </div>
   </div>
</div>  






<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/index.js"></script>

<footer>

    <div class="footer-container">

        <div class="footer">
            <div class="footer-heading footer-1">

            <h2>Registration Portal</h2>
            <a href="#">Powered By</a> 
            <a href="#">CSE Department,RUET</a> 
            <a href="#">Developed by</a> 
            <a href="#">MD.Shakib Shariar</a>

			<a href="/admin">Run website as a Admin</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>More information</h2>
                <p>Rajshahi University Of Engineering and Technology</p>

            </div>
            <div class="footer-heading footer-3">
                <h2>Office Hours</h2>
                <p>8:00am-5:00pm</p>

            </div>
            <div class="footer-email-form">

                <h2> Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address"
                id="footer-email">
                <input type="submit" value="Sign up"
                id="footer-email-btn">


            </div>

        </div>
    </div>

</footer>
</body>

</html>

  
</body>

</html>
