
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/index.js"></script>

<footer>

    <div class="footer-container">

        <div class="footer">
            <div class="footer-heading footer-1">

            <h2>Registration Portal</h2>
            <a href="#">Powered By</a> 
            <a href="#">CSE Department,RUET</a> 
            <a href="#">Developed</a> 
            <a href="/admin">MD.Shakib Shariar</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>More information</h2>
                <p>Rajshahi University Of Engineering and Technology</p>

            </div>
            <div class="footer-heading footer-3">
                <h2>Office Hours</h2>
                <p>8:00am-5:00pm</p>

            </div>
            <div class="footer-email-form">

                <h2> Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address"
                id="footer-email">
                <input type="submit" value="Sign up"
                id="footer-email-btn">


            </div>

        </div>
    </div>

</footer>
</body>

</html>