<div class="navcontainer">
    <div class="menu-button">Menu</div>
    <ul class="flexnav" data-breakpoint="800">
        <li><a href="/">Ruet Course Registration Application</a></li>

    </ul>
    <a href="#"><div class="profile"></div></a>


</div>
